@import "@/styles/variables.scss";

.tableContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ddd;
  overflow: visible;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  table-layout: fixed;
  overflow-x: auto;

  thead {
    background-color: inherit;
  }

  th,
  td {
    font-size: 14px;
    padding: 0 20px;
    overflow: hidden; /* Ensure text overflow doesn't break layout */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text wrapping */
  }

  th {
    /* background-color: #f4f4f4; */
    color: #333;
    padding-bottom: 12px;
  }

  tbody tr {
    border-bottom: 1px solid #ddd; /* Add a line at the bottom of each row */
    
    &:nth-child(even) {
      background-color: transparent; /* Remove background color for even rows */
    }

    &:hover {
      background-color: #ddd; /* Remove hover background color */
    }
  }

  tbody tr:last-child {
    border-bottom: none; /* Remove bottom border from last row */
  }
}

.actionButton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #0056b3;
  }

  &.delete {
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }
}
