@import "@/styles/variables.scss";

.tableContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #ddd;
  position: relative; /* Ensure relative positioning for stacking context */
}

.scrollContainer {
  height: 100%;
  overflow: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  thead {
    background-color: white;
    position: sticky;
    top: 0; /* Stick the thead to the top */
    z-index: 2; /* Ensure thead is above tbody content */
  }

  .blink {
    animation: blink-animation 1s ease-in-out;
  }
  
  @keyframes blink-animation {
    0%, 100% {
      background-color: transparent;
    }
    50% {
      background-color: rgba($color: $primary-color, $alpha: 0.2); /* or any highlight color */
    }
  }

  th,
  td {
    font-size: 14px;
    padding: 8px 20px; /* Increase padding for better readability */
    overflow: hidden; /* Ensure text overflow doesn't break layout */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    white-space: nowrap; /* Prevent text wrapping */
    position: relative; /* Ensure relative positioning for stacking context */
    z-index: 1; /* Set the z-index for tbody content */
  }

  th {
    color: #333;
    font-weight: bold; /* Make header text bold */
  }

  tbody tr {
    border-bottom: 1px solid #ddd; /* Add a line at the bottom of each row */

    &:nth-child(even) {
      background-color: #f9f9f9; /* Alternate row background color */
    }

    &:hover {
      background-color: #f0f0f0; /* Hover background color */
    }
  }

  tbody tr:last-child {
    border-bottom: none; /* Remove bottom border from last row */
  }
}

.actionButton {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 12px; /* Adjust padding for buttons */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: #0056b3;
  }

  &.delete {
    background-color: #dc3545;

    &:hover {
      background-color: #c82333;
    }
  }
}
