// NavLinks.module.scss
@import "../../variables.scss";

.linksContainer {
  display: flex; // Ensure the container is a flexbox
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.link {
  display: flex;
  height: 3.25rem; //52px
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0.75rem; // 12px
  padding: 0.75rem; // 3 * 0.25rem
  font-size: 16px; // text-sm
  font-weight: 400; // font-medium
  color: black;
  transition:
    background-color 0.2s,
    color 0.2s;

  &:hover {
    background-color: #e5e7eb;
  }
  // &:hover {
  //   background-color: #e0f2fe; // hover:bg-sky-100
  //   color: white;
  // }

  // @media (min-width: 768px) {
  //   flex-grow: 0;
  //   justify-content: flex-start;
  //   padding: 0.5rem; // 2 * 0.25rem
  //   padding-left: 0.75rem; // 3 * 0.25rem
  // }
}

.activeLink {
  background: linear-gradient(to right, #cb1414, #650a0a); // bg-sky-100
  color: white; // text-blue-600
  font-weight: 500; // font-medium
}

.linkTitle {
  color: black;
}
